@model DetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <p class="list-group-item list-group-item-action active text-center">@Model.Name</p>
    <ul class="list-group list-group-flush col-6">
        <li class="list-group-item text-info">@Model.PurchaseCode</li>
        <li class="list-group-item">
            <h5 class="font-weight-light ">Description:</h5>
            <br />
            <div class="text-info">@Model.Description</div>
        </li>
    </ul>

    <img style="display: block; text-align: right" class="card-img-top  col-6 ml-auto mt-3"
         src="@Model.ImageUrl" alt="">
    <p class="col-4">
        <div class="row">
            <div>Price:</div>
            <div class="text-info">@(Model.Price) BGN</div>
        </div>
    </p>
</div>
@if (@Model.IsEditable || User.IsAdmin())
{
    <a asp-scontroller="Items" asp-action="EditItem" asp-route-id="@Model.Id" class="btn btn-primary btn-light">Edit</a>
}




